h1{
    color: red;
    font-size: 20px;
}

.brand{
    color: blue;
}
h1{
    color: green;
}
.logo{
    color: purple;
}

.lecture-list li{
    font-size: 12px;
}

h2{
    background-color: rgb(165, 214, 195);
}

.web-list a[target]{
    color: red;
}

#cover{
    border: 5px solid green;
}

.study-list li:first-child{
    background-color: rgb(169, 225, 247);
}
.study-list li:nth-child(2){
    background-color: rgb(169, 178, 221);
}

.study-list li:nth-child(3){
    background-color: rgb(162, 211, 181);
}


.study-list li:last-child{
    background-color: rgb(196, 184, 216);
}
